In [1]:
import pandas as pd
df = pd.read_csv('../world_bank_data_clean_v2.csv')

In [2]:
df.head()

                       country  date   indicator_name      value
0  Africa Eastern and Southern  2021  Life expectancy  62.454585
1  Africa Eastern and Southern  2020  Life expectancy  63.313856
2  Africa Eastern and Southern  2019  Life expectancy  63.755674
3  Africa Eastern and Southern  2018  Life expectancy  63.365858
4  Africa Eastern and Southern  2017  Life expectancy  62.922385